* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

#root {
  height: 100vh;
}

.error-box {
  color: white;
  background: #c62828;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  max-width: 600px;
  text-align: center;
  font-weight: bold;
}

